@use '../utils/marquee.scss' as *;
@use '../variables/colors.scss' as *;
@use '../variables/breakpoints.scss' as *;

.section--projects {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.projects__marquee {
  position: relative;
  @extend %marquee-container;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
}

.marquee-text--projects {
  font-size: 28px;
  color: $pink;
  font-weight: 900;
  @include marquee-text($horizontal);
}

.projects__project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.project-list__li {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.project-list__li:focus .project__img,
.project-list__li:active .project__img,
.project-list__li:hover .project__img {
  rotate: -3deg;
  border-radius: 40px;
}

.project {
  color: $pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;
}

.project__link {
  padding: 5px 10px 2px 10px;
  background-color: $black;
  border-radius: 10px 10px 0px 0px;
}

.project__img {
  position: relative;
  max-width: 100%;
  border: 2px solid $black;
  transition: all 0.5s;
  border-radius: 5px 40px 40px 40px;
}

.wrapper--img {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 40px;
}

// alt position for even projects

.project--alt-position {
  align-items: flex-end;
}

.project--alt-position .project__img {
  border-radius: 40px 0px 40px 40px;
}

.project--alt-position .wrapper--img {
  border-radius: 40px 0px 40px 40px;
}

.project-list__li:focus .project--alt-position .project__img,
.project-list__li:active .project--alt-position .project__img,
.project-list__li:hover .project--alt-position .project__img {
  rotate: 3deg;
  border-radius: 40px;
}

/* hidden */
.hidden--projects {
  opacity: 0;
  filter: blur(2px);
  transition: all 1s;
  transform: translateX(-100%);
}

.hidden--projects:nth-of-type(even) {
  transform: translateX(100%);
}

@media (prefers-reduced-motion) {
  .hidden--projects {
    transition: none;
  }
}

@media screen and (min-width: $large-screen) {
  .section--projects {
    position: relative;
    width: 100%;
    min-width: 250vh;
    height: 100vh;
    overflow-y: hidden;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    align-items: center;
  }
  
   .project-list__li {
    max-width: 900px;
   }

  // marquee

  .projects__marquee {
    width: 200px;
    height: 100%;
    border: 2px solid black;
    border-bottom: 0px;
    border-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .marquee-text--projects {
    writing-mode: vertical-rl;
    @include marquee-text($vertical);
    font-size: 48px;
  }

  .project-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 100%;
  }

  .hidden--projects {
    transform: translateY(-100%);
  }

  .hidden--projects:nth-of-type(even) {
    transform: translateY(100%);
  }
}
