@font-face {
  font-family: 'garamond';
  src: url('../src/assets/fonts/EBGaramond-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'garamond-italics';
  src: url('../src/assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: italic;
}

$font: 'garamond', serif;
$font-italic: 'garamond-italic', serif;
