//general
@use './variables/colors.scss';
@use 'normalize.scss';
@use './utils/marquee.scss';
//header
@use './header/sidebar.scss';
//landing page;
@use './landing-page/landing-page.scss';
@use './landing-page/background-fluid.scss';
@use '../style/variables/font.scss' as *;
@use './landing-page/background-noise.scss';
@use './projects-section/projects-section.scss';
@use './about-me-section/about-me-section.scss';
@use './utils/show.scss';

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: $font;
}

