.background--noise {
  z-index: 5;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 400vh;
  background: url('http://assets.iceable.com/img/noise-transparent.png') repeat
    0 0;
  background-repeat: repeat;
  animation: background-noise--medium 0.5s infinite;
  opacity: 0.5;
}

@keyframes background-noise--low {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10%, 10%);
  }
}

@keyframes background-noise--medium {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10%, 10%);
  }
  50% {
    transform: translate(10%, -10%);
  }
  75% {
    transform: translate(-10%, 10%);
  }
}

@keyframes background-noise--high {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
