@use '../utils/marquee.scss';
@use '../variables/colors.scss';

.landing-page__marquee {
  @extend %marquee-container;
  position: absolute;
  top: 26px;
  right: 15px;
  z-index: 6;
  width: 30%;
  max-width: 300px;
}

.marquee-text--landing-page {
  @extend %marquee-text;
  font-size: 18px;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page h1 {
  z-index: 7;
}

.landing-page__header {
  font-size: 33px;
  z-index: 2;
  -webkit-text-fill-color: colors.$sidebar-color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: colors.$sidebar-background;
}
.header--alt-clr {
  font-size: 34px;
  -webkit-text-stroke-color: colors.$sidebar-color;
  -webkit-text-fill-color: colors.$sidebar-background;
}

.landing-page__subheader {
  z-index: 2;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: colors.$sidebar-color;
  -webkit-text-fill-color: colors.$sidebar-background;
}
