$width: 30%;
$max-width: 300px;
//runs with marquee function in js/landing-page
%marquee-container { 
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: $width;
  max-width: $max-width;
}

%marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
